input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h3 {
    font-size: 16pt;
    font-weight: bold;
}

.container {
    display: block;
    margin-top: 30px;
    left: auto;
    width: 450px;
    margin-right: 30px;
    margin-left: auto;
}

.section {
    display: block;
    margin-bottom: 20px;
}

.section .input-phone {
    width: 90px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.section .input-number {
    width: 300px;
    height: 40px;
    margin-right: 10px;
}

.section button {
    height: 40px;
    background: #423257;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

#check-number {
    text-align: center;
    width: 327px;
    height: 45px;
    font-size: 14pt;
    font-weight: bold;
}