.wrapper {
    margin-top: 80px;
}

.depth-1 {
    margin-bottom: 1rem;
    color: #423257;
    font-size: 18pt;
    font-weight: 600;
}

* + .depth-1 {
    margin-top: 3rem;
}

.depth-2 {
    color: #000000;
    font-size: 14pt;
    margin: 3px 0;
}

.depth-3 {
    padding-left: 1rem;
    color: #adb5bd;
    font-size: 14pt;
    font-weight: 600;
    margin: 3px 0;
}

.depth-4 {
    padding-left: 2rem;
    color: #adb5bd;
    font-size: 12pt;
    margin: 3px 0;
}

.foot {
    width: 100%;
    background: #ffffff;
}

body, .divi, html, li, ul {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*font-size: inherit;*/
    /*font-weight: inherit;*/
    /*font-family: inherit;*/
    /*line-height: inherit;*/
    /*letter-spacing: inherit;*/
    /*word-break: inherit;*/
    /*word-spacing: inherit;*/
    /*color: inherit;*/
    /*text-decoration: inherit;*/
    /*list-style: none;*/
    /*cursor: inherit;*/
    /*-webkit-appearance: none;*/
    /*word-break: break-all*/
}

#cs-terms-of-use-page {
    padding-top: 40px;
    padding-bottom: 4rem;
    background: #f1f3f5;
}

#cs-terms-of-use-page > .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto
}

#cs-terms-of-use-page > .container:after {
    content: "";
    display: block;
    clear: both
}

#cs-terms-of-use-page > .container {
    background-color: #fff;
    -webkit-box-shadow: 0 0 .25rem #dee2e6;
    box-shadow: 0 0 .25rem #dee2e6;
    border-radius: 3px
}

#cs-terms-of-use-page .page-header {
    padding: 4rem;
    padding-bottom: 6rem;
    text-align: center
}

.title {
    color: #423257;
    font-size: 26pt;
    font-weight: bold;
    text-align: center;
}

.t_l {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

#cs-terms-of-use-page .page-header .tab {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: auto;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #423257;
}

#cs-terms-of-use-page .page-header .tab ul {
    display: table;
    table-layout: fixed;
    width: 100%
}

#cs-terms-of-use-page .page-header .tab ul li {
    display: table-cell;
    border-bottom: 1px solid #423257;
    cursor: pointer
}

#cs-terms-of-use-page .page-header .tab ul li.on {
    background-color: #423257;
    color: #fff
}

.page-body {
    padding: 4rem;
}