body {
    margin: 0;
    padding: 0;
}
.container{
    margin-top : 50px;
    margin-left: auto;
}

.search_input {
    width: 200px;
    border-radius: 7px;
    border-style: hidden;
    background-color: #e3e0e0;
    padding: 7px;
    font-family: '나눔고딕';
}
.search_wrapper{
    margin: 5px;
    margin-bottom: 20px;
}
.chk-auto-login{
    margin-top: 50px;
}