<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moa.mybatis.UserMapper" xmlns:c="http://www.w3.org/1999/XSL/Transform">

    <resultMap id="userInfo_map" type="com.moa.model.vo.SimpleUserInfoVO">
        <id property="profileName" column="PICTURE_NAME"  />
        <id property="name" column="NAME"  />
        <id property="email" column="EMAIL"  />
        <id property="requestCnt" column="STORE_REQUEST_CNT"  />
        <id property="notReadMessageCnt" column="UNREAD_CNT"  />
        <id property="usingStorageCnt" column="STORAGE_CNT"  />
    </resultMap>

    <select id="selectUserInfo" parameterType="java.lang.Integer" resultMap="userInfo_map">
        select * from my_page_view
        where user_id = #{userId}
    </select>

    <select id="selectUserExist" parameterType="String" resultType="Integer">
        select count(*) as exist from user_tb where nickname = #{userNick}
    </select>

    <select id="signUpUser" parameterType="hashMap" resultType="com.moa.model.vo.LoginVO">
        SELECT * From login_view WHERE email = #{email} AND password=#{password};
    </select>

    <select id="duplicationCheck" parameterType="hasMap" resultType="int">
        SELECT COUNT(*) FROM login_view
        <choose>
            <when test="nick != null">
                WHERE nick = #{nick}
                <c:if test="email != null">
                    AND email = #{email}
                </c:if>
            </when>
            <otherwise>
                <c:if test="email != null">
                    WHERE email = #{email}
                </c:if>
            </otherwise>
        </choose>
    </select>
    <select id="signUpUser" parameterType="hashMap" resultType="int">
        CALL PI_INSERT_USER(#{AddressVO.lat},#{AddressVO.lng},#{AddressVO.postCode},#{AddressVO.baseAddress},#{AddressVO.detailAddress},
        #{UserVO.email},#{UserVO.password},#{UserVO.phoneNumber},#{UserVO.nick},#{UserVO.name},"profile.png",#{res})
    </select>
</mapper>